header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.5);
}
header ul li a{
    padding: 12px 2px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
}
header ul li a svg{
    font-size: 18px;
    margin-left: 5px;
}
header ul{
    border-bottom: 1px solid #d3d3d348;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.signinBtn{
    border: 1px solid #fff;
    border-radius: 16px;
    padding: 3px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.subMenu{
    display: none;
}
header ul li a:hover .subMenu {
    display: flex;
    position: absolute;
    top: 100%;
    border-bottom: none;
    left: -50%;
}
header ul li a .subMenu li a{
    text-transform: none;
    font-size: 12px;
    padding: 10px 5px;
}
header ul li a .subMenu li{
    min-width: 105px;
}