.serviceOffered{
    margin: 20px 0;
    padding: 20px 0;
}

.serviceOffered h5{
  margin-bottom: 20px;
}

.serviceOffered .serviceItem{
  background: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookBtn{
  background-color: var(--red-color);
  border-radius: 8px;
  color: #fff;
  padding: 10px 50px;
  border: none;
}
