.breadcrumbWrapper {
    padding: 16px 0;
    margin-top: 50px;
}
.breadcrumbWrapper .list {
    color: var(--text-black);
    display: flex;
    font-size: 10px;
    line-height: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 500;
}
.carousel-inner,.carousel img{
    border-radius: 8px;
}
.breadcrumbWrapper .list .listLink svg{
    font-size: 18px;
}
.breadcrumbWrapper .list .listItem:last-child {
    opacity: .7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}
.breadcrumbWrapper .list .listItem .listLink {
    color: var(--text-black);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.dealerDetail{
    background-color: var(--white-bg);
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
}
.dealerDetail h1{
    font-size: 1.4rem;
    margin-bottom: 0;
}
.verified{
    color: var(--verify-color);
    display: flex;
    align-items: center;
}
.userRating{
    background: var(--red-color);
    padding: 0 5px;
    border-radius: 5px;
    color: var(--white-bg);
    font-size: 12px;
}
.ratingStars svg{
    color: var(--text-yellow);
}
.rateBtn{
    color: var(--red-color);
}
.location svg, .timings svg, .paymentModes svg{
    color: var(--gray-color);
}
.reviewsRatings{
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}
.paymentModes span{
    font-size: 12px;
}
.getDirection{
    background-color: var(--red-color);
    color: #fff;
    border-radius: 4px;
    padding: 5px 25px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 200px;
}
.location .address, .timings .time{
    font-size: 14px;
}

